In [1]:
import pandas as pd
import geopandas as gpd

In [4]:
App_shape = gpd.read_file("/Users/baiken/Documents/GitHub/680/Aiken_Ben_AppalachiaBroadband/raw_data/Appalachia Shape")
App_state_shape = gpd.read_file("/Users/baiken/Documents/GitHub/680/Aiken_Ben_AppalachiaBroadband/raw_data/Appalachia Shape with State Lines")

In [3]:
App_shape

,STATE_NAME,Shape_Leng,Shape_Area,geometry
0,All States,78.752835,55.299322,"POLYGON ((-74.98311 42.85890, -74.97125 42.853..."

In [14]:
App_state_shape.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands.  British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [11]:
mines_85 = gpd.read_file('/Users/baiken/Documents/GitHub/680/Aiken_Ben_AppalachiaBroadband/raw_data/Mines/5072/1985_5072')

In [21]:
mines_85

,id,sum,year,geometry
0,+30301+50503,15300.0,1985,"POLYGON ((908970.000 1515120.004, 909060.000 1..."
1,+30725+49813,9900.0,1985,"MULTIPOLYGON (((921720.042 1494389.582, 921720..."
2,+30742+50016,41400.0,1985,"POLYGON ((922200.000 1500510.004, 922290.000 1..."
3,+30767+49923,14400.0,1985,"POLYGON ((923010.000 1497720.004, 923040.000 1..."
4,+30773+49907,21600.0,1985,"POLYGON ((923130.000 1497240.004, 923220.000 1..."
...,...,...,...,...
11237,+46405+61035,18000.0,1985,"POLYGON ((1392149.999 1831080.004, 1392179.999..."
11238,+46409+60876,26100.0,1985,"MULTIPOLYGON (((1392180.194 1826010.138, 13921..."
11239,+46437+61418,9000.0,1985,"MULTIPOLYGON (((1393019.706 1842540.140, 13930..."
11240,+46500+61101,9000.0,1985,"POLYGON ((1394969.999 1833060.004, 1395029.999..."
11241,+46502+60818,10800.0,1985,"MULTIPOLYGON (((1395059.626 1824510.466, 13950..."

In [15]:
county_data = pd.read_csv("/Users/baiken/Documents/GitHub/680/Aiken_Ben_AppalachiaBroadband/raw_data/app_county.csv")

In [16]:
county_data.crs

AttributeError: 'DataFrame' object has no attribute 'crs'

In [17]:
App_Tract = gpd.read_file("/Users/baiken/Documents/GitHub/680/Aiken_Ben_AppalachiaBroadband/raw_data/App_Tract")

In [20]:
App_Tract.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands.  British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich